<nav class="navbar navbar-expand-lg navbar-dark">
    <a class="navbar-brand" href="#">Triana</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarColor01">

        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" routerLink="catalogo">Catálogo</a>
            </li>

            <li class="nav-item" *ngIf="autServ.verificarUsuarioLogueado()">
                <a class="nav-link" routerLink="datos-privados">Datos Privados</a>
            </li>

            <li class="nav-item dropdown" *ngIf="autServ.verificarUsuarioLogueado()">
                <a class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Más opciones</a>
                <div class="dropdown-menu">
                    <a class="dropdown-item" routerLink="productos">Admin-Productos</a>
                    <a class="dropdown-item" routerLink="admin-imageneshome">Admin-Imageneshome</a>
                    <a class="dropdown-item" routerLink="bodegas">Admin-Bodegas</a>
                    <a class="dropdown-item" routerLink="categorias">Admin-Categorías</a>
                    <a class="dropdown-item" routerLink="descuentos">Admin-Descuentos</a>
                    <a class="dropdown-item" routerLink="promociones">Admin-Promociones</a>
                    <a class="dropdown-item" routerLink="variedades">Admin-Variedad</a>
                </div>
            </li>
        </ul>

        <ng-container>
            <ul class="navbar-nav ml-auto">
                <li class="nav-item" *ngIf="autServ.verificarUsuarioLogueado();">
                    <a class="nav-link" routerLink="registro">Registrarse</a>
                </li>
                <li class="nav-item" *ngIf="!autServ.verificarUsuarioLogueado(); else cierresesion">
                    <a class="nav-link" routerLink="ingreso">Login</a>
                </li>
            </ul>

        </ng-container>

        <ng-template #cierresesion>
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" style="cursor:pointer;" (click)="autServ.cerrarSesion()">Cerrar Sesion</a>
                </li>
            </ul>
        </ng-template>


    </div>
</nav>