<div class="row">
    <div class="col-sm-8">
        <div class="row">
            <div class="col-sm-4">
                <div class="form-group">
                    <input placeholder="Ingrese criterio de búsqueda" [(ngModel)]="buscarDescuentos" type="text" class="form-control">
                </div>
            </div>
        </div>
        <table class="table table-striped">
            <thead>
                <tr style="text-align: center;">
                    <th>N° de Identificación</th>
                    <th>Porcentaje</th>
                    <th>Estado</th>
                    <th>Operaciones</th>
                </tr>
            </thead>
            <tbody>
                <tr style="text-align: center;" *ngFor="let descuentos of listDescuentos | filter:buscarDescuentos | paginate:{itemsPerPage:4, currentPage:p}">
                    <td>{{descuentos.id_des}}</td>
                    <td>{{descuentos.porcentaje}}%</td>
                    <td>
                        <div *ngIf="descuentos.estado == 1; else loggedOut">
                            <span class="badge badge-pill badge-success">Activo</span>
                        </div>

                        <ng-template #loggedOut>
                            <span class="badge badge-pill badge-danger">Inactivo</span>
                        </ng-template>
                    </td>
                    <td>
                        <div class="btn-group btn-group-sm d-flex justify-content-center">
                            <ul class="list-inline m-0">
                                <li class="list-inline-item">
                                    <button class="btn btn-danger btn-sm rounded-0" (click)="eliminarDescuentos(descuentos.id_des)" type="button" data-toggle="tooltip" data-placement="top" title="Eliminar"><i class="fa fa-trash"></i></button>
                                </li>
                                <li class="list-inline-item">
                                    <button class="btn btn-primary btn-sm rounded-0" (click)="editarDescuentos(descuentos)" type="button" data-toggle="tooltip" data-placement="top" title="Editar"><i class="fa fa-edit"></i></button>
                                </li>
                            </ul>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="row">
            <div class="col-sm-7">
                <pagination-controls (pageChange)="p = $event"></pagination-controls>
            </div>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="card">
            <div class="card-header">Formulario de descuentos</div>
            <div class="card-body">
                <form [formGroup]="formDescuentos" (ngSubmit)="guardarDescuentos()" novalidate>
                    <input formControlName="id_des" type="hidden">
                    <div class="form-group">
                        <input [ngClass]="{'is-invalid':(formDescuentos.get('porcentaje')?.touched || formDescuentos.get('porcentaje')?.dirty) && formDescuentos.get('porcentaje')?.invalid}" formControlName="porcentaje" placeholder="Ingrese el porcentaje" type="number" class="form-control">
                        <div class="invalid-feedback">
                            <span *ngIf="formDescuentos.get('porcentaje').hasError('required')">Campo Requerido </span>
                            <span *ngIf="!formDescuentos.get('porcentaje').hasError('minLength')">(Mínimo 1 carácter)</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <select formControlName="estado" class="form-control" [ngClass]="{'is-invalid':(formDescuentos.get('estado')?.touched || formDescuentos.get('estado')?.dirty) && formDescuentos.get('estado')?.invalid}">
                                <option value="-1" disabled selected>Seleccionar Estado</option>
                                <option value="1">Activo</option>
                                <option value="0">Inactivo</option>
                        </select>
                        <div class="invalid-feedback">
                            <span *ngIf="formDescuentos.get('estado').hasError('required')">Campo Requerido </span>
                            <span *ngIf="!formDescuentos.get('estado').hasError('minLength')">Campo Requerido (Escoger 1 opción)</span>
                        </div>
                    </div>
                    <button [disabled]="formDescuentos.invalid" class="btn btn-success">Guardar un descuento</button>
                </form>
            </div>
        </div>
    </div>
</div>