<!--Carousel Wrapper-->
<div id="carousel-example-2" class="carousel slide carousel-fade" data-ride="carousel">
    <!--Indicators-->
    <ol class="carousel-indicators">
        <li data-target="#carousel-example-2" data-slide-to="0" class="active"></li>
        <li data-target="#carousel-example-2" data-slide-to="1"></li>
    </ol>
    <!--/.Indicators-->
    <!--Slides-->
    <div class="carousel-inner" role="listbox">
        <div class="carousel-item active">
            <div class="view">
                <img style="height: 437px; width: 1000px;" class="d-block" src="assets/carrousel.jpg" alt="First slide">
                <div class="mask rgba-black-light"></div>
            </div>
            <div class="carousel-caption">
                <h3 class="h3-responsive"><i>"Para conocer el origen y la calidad del vino no hay necesidad de beber todo el barril"</i></h3>
                <p>Oscar Wilde</p>
            </div>
        </div>
        <div class="carousel-item">
            <!--Mask color-->
            <div class="view">
                <img id="image" style="height: 437px; width: 1000px;" class="d-block" src="assets/video.jpg" alt="Third slide">
                <div class="mask rgba-black-slight"></div>
            </div>
            <div class="carousel-caption">
                <h3 class="h3-responsive"><i>"El mejor vino no es necesariamente el más caro, sino el que se comparte"</i></h3>
                <p>Georges Brassens</p>
            </div>
        </div>
    </div>
    <!--/.Slides-->
    <!--Controls-->
    <a class="carousel-control-prev" href="#carousel-example-2" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carousel-example-2" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
    <!--/.Controls-->
</div>
<!--/.Carousel Wrapper-->

<br><br>
<div class="row justify-content-center">
    <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item" *ngFor="let imagen of lista_imagenes; let isFirst= first" [ngClass]="{active:isFirst}">
                <img [src]="imagen.imagen_url" class="d-block w-100" alt="...">
            </div>

        </div>
        <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
</div>

<hr>

<hr>
<footer class="footer-distributed">

    <div class="footer-right imagen">

        <a href="https://www.facebook.com/" target="_blank">
            <img src="https://img.icons8.com/office/30/000000/facebook.png" />
        </a>
        <a href="https://www.instagram.com/" target="_blank">
            <img src="https://img.icons8.com/fluent/36/000000/instagram-new.png">
        </a>
        <a href="https://twitter.com/explore" target="_blank">
            <img src="https://img.icons8.com/fluent/30/000000/twitter.png" />
        </a>

    </div>

    <div class="footer-left">

        <p class="footer-links">
            Triana La Vinoteca
            <br> Neuquen Capital, Cordoba 370
        </p>

        <p>Copyright © 2020</p>
    </div>

</footer>