<div class="row">
    <div class="col-lg-4">
        <img class="img-fluid" [src]="unProducto.imagen" alt="">
    </div>
    <div class="col-lg-8">
        <div class="card">
            <div class="card-header">{{unProducto.nombre}}</div>
            <div class="card-body">
                {{unProducto.descripcion_categoria}}
                <br> {{unProducto.stock}}
                <br> {{unProducto.precio}}
                <br> {{unProducto.descripcion_variedad}}
                <br> {{unProducto.descripcion_bodega}}
                <br> {{unProducto.descripcion}}
                <br> {{unProducto.cantmil}}
                <br> {{unProducto.estado}}
            </div>
        </div>
    </div>
</div>