<div class="row">
    <div class="col-sm-8">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Descripcion</th>
                    <th>Operaciones</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let variedad of listVariedad">
                    <td>{{variedad.id_varie}}</td>
                    <td>{{variedad.descripcion}}</td>
                    <td>
                        <div class="btn-group btn-group-sm">
                            <button class="btn btn-danger">Eliminar</button>
                            <button {click}="editarVariedad(variedad)" class="btn btn-primary">Editar</button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>


    </div>
    <div class="col-sm-4">
        <div class="card">
            <div class="card-header">Formulario de variedades</div>
            <div class="card-body">
                <form [formGroup]="formVariedad" (ngSubmit)="guardarVariedad()">
                    <input formControlName="id_varie" type="hidden">
                    <div class="form-group">
                        <input formControlName="descripcion" placeholder="Ingrese descripcion" type="text" class="form-control">
                    </div>
                    <button class="btn btn-success">Guardar una Variedad</button>
                </form>
            </div>
        </div>

    </div>
</div>