<div class="row">
    <div class="col-sm-8">
        <div class="row">
            <div class="col-sm-4">
                <div class="form-group">
                    <input placeholder="Ingrese criterio de búsqueda" [(ngModel)]="buscarVariedad" type="text" class="form-control">
                </div>
            </div>
        </div>
        <table class="table table-striped">
            <thead>
                <tr style="text-align: center;">
                    <th>Id</th>
                    <th>Descripcion</th>
                    <th>Operaciones</th>
                </tr>
            </thead>
            <tbody>
                <tr style="text-align: center;" *ngFor="let variedad of listVariedad | filter:buscarVariedad | paginate:{itemsPerPage:4, currentPage:p}">
                    <td>{{variedad.id_varie}}</td>
                    <td>{{variedad.descripcion}}</td>
                    <td>
                        <div class="btn-group btn-group-sm">
                            <button (click)="eliminarVariedad(variedad.id_varie)" class="btn btn-danger">Eliminar</button>
                            <button (click)="editarVariedad(variedad)" class="btn btn-primary">Editar</button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="row">
            <div class="col-sm-5">
                <pagination-controls (pageChange)="p = $event"></pagination-controls>
            </div>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="card">
            <div class="card-header">Formulario de variedades</div>
            <div class="card-body">
                <form [formGroup]="formVariedad" (ngSubmit)="guardarVariedad()" novalidate>
                    <input formControlName="id_varie" type="hidden">
                    <div class="form-group">
                        <input [ngClass]="{'is-invalid':(formVariedad.get('descripcion')?.touched || formVariedad.get('descripcion')?.dirty) && formVariedad.get('descripcion')?.invalid}" formControlName="descripcion" placeholder="Ingrese la descripción" type="text" class="form-control">
                        <div class="invalid-feedback">
                            <span *ngIf="formVariedad.get('descripcion').hasError('required')">Campo Requerido </span>
                            <span *ngIf="!formVariedad.get('descripcion').hasError('minLength')">(Mínimo 6 caracteres)</span>
                        </div>
                    </div>
                    <button [disabled]="formVariedad.invalid" class="btn btn-success">Guardar una bodega</button>
                </form>
            </div>
        </div>
    </div>
</div>