<div class="row">
    <div class="col-md-7">
        <table class="table table-striped">
            <thead>
                <th>Id</th>
                <th style="text-align: center;">Nombre</th>
                <th style="text-align: center;">Estado</th>
                <th style="text-align: center;">Imagen_url</th>
                <th style="text-align: center;">Public_id</th>
                <th style="text-align: center;">Operaciones</th>
            </thead>
            <tbody>
                <tr *ngFor="let fila of listado_datos_imageneshome">
                    <td>{{fila.id_imagen}}</td>
                    <td style="text-align: center;">{{fila.nombre}}</td>
                    <td style="text-align: center;">{{fila.estado}}</td>
                    <td style="text-align: center;">
                        <img style="width:75px;" class="img-fluid rounded" [src]="fila.imagen_url" alt="">
                    </td>
                    <td>{{fila.public_id}}</td>
                    <td>
                        <div class="btn-group btn-group-sm">
                            <button class="btn btn-danger">Eliminar</button>
                            <button class="btn btn-primary" (click)="editarImagenesHome(fila)">Editar</button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="col-md-5">
        <div class="card">
            <div class="card-header">
                Nuevo registro
            </div>
            <div class="card-body">
                <form [formGroup]="formImagenesHome" (ngSubmit)="guardarEnImagenesHome()" novalidate>
                    <div class="form-group">
                        <input formControlName="nombre" placeholder="Ingrese el nombre" type="text" class="form-control">
                    </div>
                    <div class="form-group">
                        <input formControlName="estado" placeholder="Ingrese el estado" type="text" class="form-control">
                    </div>
                    <div class="form-group">
                        <input (change)="mostrarFotoSeleccionada($event)" formControlName="archivo" class="form-control-file" type="file" name="" id="">
                    </div>
                    <div class="form-group">
                        <img class="img-fluid" [src]="this.imagenPreview || 'assets/no-image.png'" alt="">
                    </div>
                    <div class="form-control">
                        <button [disabled]="formImagenesHome.invalid" type="submit" class="btn btn-success btn-block">Guardar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>