<div class="row">
    <div class="col-md-7">
        <table class="table table-striped">
            <thead>
                <th>Id</th>
                <th>Nombre</th>
                <th>Estado</th>
                <th style="text-align: center;">Imagen_url</th>
                <th>Public_id</th>
            </thead>
            <tbody>
                <tr *ngFor="let fila of listado_datos_imageneshome">
                    <td>{{fila.id_imagen}}</td>
                    <td>{{fila.nombre}}</td>
                    <td>{{fila.estado}}</td>
                    <td style="text-align: center;">
                        <img style="height: 75px; width: 45px;" class="img-fluid rounded" [src]="fila.imagen_url" alt="">
                    </td>
                    <td>{{fila.public_id}}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="col-md-5">
        <div class="card">
            <div class="card-header">
                Nuevo registro
            </div>
            <div class="card-body">
                <form action="">
                    <div class="form-group">
                        <input placeholder="Ingrese el nombre" type="text" class="form-control">
                    </div>
                    <div class="form-group">
                        <input placeholder="Ingrese el estado" type="text" class="form-control">
                    </div>
                    <div class="form-group">
                        <input class="form-control-file" type="file" name="" id="">
                    </div>
                    <img class="img-fluid" src="assets/no-image.png" alt="">
                    <div class="form-control">
                        <button class="btn btn-success btn-block">Guardar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>