<div class="row">
    <div class="cols-sm-6">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Descripcion</th>
                    <th>Operaciones</th>

                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let opinion of listOpiniones">
                <td> {{opinion.descripcion}}</td>
                <td>
                    <div class="btn-group btn-group-sm">
                        <button (click)="eliminarOpiniones(opiniones.codigo_triana_opinion);" class="btn btn-danger">Eliminar</button>
                    </div>
                </td>
            </tr>
            </tbody>

        </table>

    </div>

<div class="col-sm-6">
    <div class="card">
    <div class="card-header">Formulario de Opinion</div>
    <div class="card-body">
        <form [formGroup]="formOpiniones" (ngSubmit)="guardarOpiniones()">
            <div class="form-group">
            <input formControlName="descripcion" placeholder="Ingrese una Opinion"type="text" class="form-control">
        </div>
        <div class="btn-group btn-group-sm">
            <button class="btn btn-success">Guardar una Opinion</button>  
        </div>
        </form>
     </div>
     </div>
    </div>
</div>
