<div class="row">
    <div class="col-sm-6">
    </div>

    <div class="col-sm-6">
        <form [formGroup]="formOpiniones">
            <div class="form-group">
                <select class="form-control">
                    <option value="">Alma Mora Malbec</option>
                </select>
            </div>
            <div class="form-group">
                <input formControlName="descripcion" type="text" placeholder="Ingrese su opinión" class="form-control">
            </div>
        </form>
    </div>
</div>