.table {
    font-size: 12px;
}

#btn {
    background-color: rgb(97, 0, 21);
}

#btn {
    color: white;
}

#btn:hover {
    color: whitesmoke;
}

#id {
    color: black;
}

i {
    font-size: 12px;
}