.table {
    font-size: 12px;
}

.btn {
    background-color: rgb(97, 0, 21);
}

button {
    color: white;
}

button:hover {
    color: whitesmoke;
}

#id {
    color: black;
}

i {
    font-size: 12px;
}