<div class="p-3">
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
        Criterio de búsqueda
      </button>
    <br><br>
    <div class="row row-cols-1 row-cols-md-4">
        <div *ngFor="let fila of lista_datos | filter:buscarProducto" class="col mb-4">
            <div class="card">
                <div class="card-header">
                    <h6>
                        <div *ngIf="fila.descripcion_descuento !=null; else isLoggedOut1 ">
                            <i>Promo: {{fila.descripcion_descuento}}</i>
                        </div>

                        <ng-template #isLoggedOut1>
                            <i> Variedad: {{fila.descripcion_variedad}} </i>
                        </ng-template>
                    </h6>
                </div>
                <img class="card-img-top" [src]="fila.imagen" alt="">
                <div class="card-body" align="center">
                    <h4 class="card-title">{{fila.nombre}}
                    </h4>
                    <button (click)="verMas(fila.id_producto)" class="btn btn-sm">Ver más</button>
                </div>
                <div class="card-footer" align="center">
                    <h3><b>
                            <div *ngIf="fila.porcentaje != null; else loggedOut">
                                ${{fila.precio-((fila.precio*fila.porcentaje)/100)}} <small class="text-muted"><del>(${{fila.precio}})</del></small>
                              </div>
                              
                              <ng-template #loggedOut>
                                ${{fila.precio}}
                              </ng-template>
                        </b></h3>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                <button id="id" type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
            </div>
            <div class="modal-body">
                <form [formGroup]="formFiltro">
                    <div class="form-group">
                        <select [(ngModel)]="buscarProducto" (ngModelChange)='obtenerVariedades($event.target.value, $event)' (change)="obtenerVariedades($event.target.value, $event)" formControlName="categoria" class="form-control">
                             <option value="0" disabled selected>Seleccionar Categoría</option>
                            <option *ngFor="let categorias of lista_categoria" value={{categorias.id_categoria}}>{{categorias.descripcion}}</option>
                         </select>
                    </div>
                    <div *ngIf="lista_variedad?.length > 0" class="form-group">
                        <select class="form-control" formControlName="variedad">
                    <option value="0" disabled selected>Seleccionar Variedad</option>
                    <option *ngFor="let variedades of lista_variedad" value={{variedades.id_varie}}>{{variedades.descripcion}}</option>
                    </select>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button id="id" type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>