.card-img-top {
    height: 390px !important;
}

.card {
    border: rgb(97, 0, 21) solid 1px !important
}

.card-title {
    height: 34px !important;
}

.btn {
    background-color: rgb(97, 0, 21);
}

button {
    color: white;
}

button:hover {
    color: whitesmoke;
}